//html, body, #app {
//  margin: 0;
//  padding: 0;
//  height: 100%;
//  width: 100%;
//  overflow: hidden;
//}
//
//.full-screen {
//  width: 100%;
//  height: 100%;
//  overflow: hidden;
//}
//
//a:focus,
//a:active {
//  outline: none;
//}
//
//a,
//a:focus,
//a:hover {
//  cursor: pointer;
//  color: inherit;
//  text-decoration: none;
//}
//
//div:focus {
//  outline: none;
//}
